<html>
<head>
    <title>Terms And Conditions</title>
    <h1><b style="display: block; width:400px;margin:auto;">Terms And Conditions</b></h1>
</head>
<body>
<ul>
    <li>
        Your age must be greater then 15 years for here registration.
    </li>
    <li>
        Your location is access by this wen page.
    </li>
    <li>
       You freely want to share your personal information with us. 
    </li>
    <li>
        Your personal data is safe here.
    </li>
</ul>
</body>
</html>